{% extends "home/templates/home_index.html" %}} {% block title %} Website {%
endblock %} {% block body %}


  <div class="grid-container">
    <div class="flask"></div>
    <div class="css"></div>
    <div class="light-grey">
      <h1>Architecture</h1>
      <p>The website is composed of simple and easy to learn frameworks so everyone can have a go at it. 
        With just a little bit of Python and HTML knowledge, you can have your own code on the website, which can be
        found at <a href=""></a></p>
    </div>
    <div class="html5"></div>
    <div class="js"></div>

  </div>


{% endblock %}
