ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  height: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #222;
}

span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
span:hover {
  background-color: #222;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  position: absolute;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 13px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #222;
  color: white;
}

#grey {
  position: absolute;
  background-color: #444;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  text-align: center;
  height: 80%;
  align-items: center;

  

}

.light-grey{
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 20px;
}

.comp-sci{
  background-image: url(../img/Flask_logo.svg), url(../img/CSS3_logo.svg), url(../img/html-5-logo.svg), url(../img/logo-javascript.svg);
  position:absolute;
  height: 100%;
  width: 100%;
  background-repeat:no-repeat, no-repeat, no-repeat, no-repeat;
}